<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @answer.schedule_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @answer.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @answer.reason %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @answer.comment %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
